<!DOCTYPE html>
<html>
<body>

<form action="/events" method="POST">
 
  What:
  <input type="text" name="eventName" value="Name of Your Event">
  <br><br>

  Who:
  <input type="text" name="organisation" value="Name of Your Organisation">
  <br>
  <input type="text" name="organisation" value="Who Can Attend">
  <br><br>

  Why:
  <input type="text" name="summary" value="Tell us a bit about it">
  <br><br>

  When:
  <input type="text" name="date" value="Date & Time">
  <br><br>
  
  Where:
  <input type="text" name="place" value="Location">
  <br><br>

  Contact:
  <input type="text" name="contact" value="Info Email">
  <br><br>

  <input type="submit" name="submitButton" value="Submit Your Event!">
</form>

Please contact tearoom if you have any questions or queries.

</body>
</html>